@page
@model lk_reg.Pages.AboutModel

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>
<body>
    <h1>About Us</h1>
    <p>We are a passionate group of Pokemon trainers who want to help others become Pokemon masters.</p>
</body>
</html>
