@page
@model lk_reg.Pages.Products.ProductsModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Products</h1>

@foreach (var product in Model.Products)
{
    <div>@product.Name - @product.Price</div>
}